body {
    background-image: url("images/city-593145.jpg");
    background-size: 2090px 1180px;
    background-attachment: fixed;
    text-align: center;
    margin: 0px;
    padding: -10px;
}
button:hover {
    cursor: pointer;
}
.user-auth, button:not(.search-buttons) {
    width: 120px;
    height: 30px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}
.user-auth:hover {
    background-color: silver;
}
#register, #login {
    font-size: 18px;
    font-weight: bold;
    color: black;
    width: 450px;
    margin: 10px auto;
    margin-top: 70px;
    background-color: white;
    font-family: sans-serif;
}
input:not(#search) {
    width: 95%;
    height: 30px;
    background-color: white;
    padding: 5px;
}
.log {
    text-decoration: none;
    color: black;
}
#heading-whole {
    margin: 0px auto;
    margin-top: -40px;
    color: white;
}
#title {
    font-size: 100px;
    font-family: "Dancing Script";
    letter-spacing: 3px;
}
#subtitle {
    font-family: "Dancing Script";
    font-size: 60px;
    margin-top: -45px;
}
#search {
    width: 550px;;
    height: 40px;
    font-size: 18px;
    color: black;
    box-shadow: inset 0px 0px 1px black;
    margin-top: -65px;
    padding: 10px;
}
.button-container {
    margin-top: 10px;
    margin: 5px;
    display: inline-block;
}
.search-buttons {
    width: 170px;
    height: 40px;
    margin: 3px;
    border: 1px solid green;
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#log-heading, #reg-heading {
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
.search-buttons:hover {
    background-color: darkgreen;
}
.img-container {
    float: left;
}
.additional-info {
    width: 15%;
    float: left;
    position: relative;
    left: 150px;
}
.ratings {
    display: block;
}
#whats-in {
    font-family: sans-serif;
    font-size: 45px;
    margin: 0px;
}
.info-container {
    text-align: left;
    float: left;
    position: relative;
    bottom: 35px;
    left: 100px;
    width: 500px;
}
.name {
    font-size: 40px;
    font-style: italic;
}
.list-container {
    background-color: white;
    width: 1100px;
    margin: 0px auto;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
}
.in-container {
    height: 300px;
    margin: 50px;
    font-family: sans-serif;
}
li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}
.sort-button {
    margin-top: 10px;
    height: 45px !important;
    width: 190px !important;
    background-color: silver;
    margin-bottom: -250px;
    box-shadow: 0 0 8px black;
    border-radius: 2px;
}
.sort-button:hover {
    background-color: darkgrey;
    border: 1px solid dimgray;
}
.sort-button:active {
    box-shadow: none;
}
.add-remove {
    display: block;
    height: 35px !important;
    width: 110px;
    margin: 10px !important;
}
.twitter {
    text-decoration: none;
}
.review {
    width: 70%;
}
@media screen and (max-width: 1460px) {
    /*body {
        background-image: none;
        background-color: black;
    }*/
    .list-container {
        width: 900px;
    }
    .info-container {
        bottom: 25px;
    }
    .info {
        position: relative;
        right: 32px;
    }
    .additional-info {
        left: 40px;
    }
    .review {
        position: relative;
        right: 30px;
        width: 400px;
    }
    .sort-button {
        font-size: 14px !important;
        height: 35px !important;
        width: 100px !important;
    }
    #search {
        width: 85%;
    }
    #whats-in {
        font-size: 35px;
    }
    .busImg {
        width: 80px;
        height: 80px;
    }
    .ratings {
        width: 100px;
    }
    .name {
        font-size: 30px;
        width: 350px;
    }
    #register, #login {
        width: 85%;
    }
}
@media screen and (max-width: 940px) {
    #title {
        font-size: 60px;
    }
    #subtitle {
        font-size: 40px;
    }
    #heading-whole {
        margin-top: 60px;
    }
    .sort-button {
        font-size: 10px;
    }
    .list-container {
        width: 600px;
    }
    .info-container, .review {
        width: 250px;
    }
    .info-container {
        left: 40px;
    }
    .additional-info {
        left: 70px;
        top: 20px;
    }
}
@media screen and (max-width: 625px) {
    .list-container {
        width: 380px;
    }
    .additional-info {
        position: fixed;
        visibility: hidden;
    }
    .review {
        font-size: 14px;
        width: 80%;
    }
    .info-container {
        width: 50%;
        bottom: 15px;
    }
    .name {
        font-size: 20px;
        width: 150px;
    }
    .in-container {
        width: 330px;
    }
}
@media screen and (max-width: 410px) {
    .sort-button {
        display: block;
        position: relative;
        left: 130px;
    }
    .in-container {
        width: 300px;
    }
    .list-container {
        width: 360px;
    }
    .img-container {
        position: relative;
        right: 50px;
    }
    .info-container {
        width: 160px;
        left: 0px;
    }
    .name {
        width: 50px; 
    }
    .review {
        font-size: 14px;
    }
}

